<div class="row mt-2">
    <div class="col-auto">
        <div class="dropdown">
            <button class="btn btn-outline-purple dropdown-toggle" type="button" id="TagsdropdownMenuButton1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
            </button>
            <div class="dropdown-menu dropdown-scroll" aria-labelledby="TagsdropdownMenuButton1">
                {% if genre %}
                <div style="max-height: 300px; overflow-y: auto;">
                    {% for genre in genre %}
                        {% if genre.name != "Hentai" %}
                        <a class="dropdown-item" href="{% url 'user/browse/genre' genres=genre.name page=1 %}">{{ genre.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-auto">
        <a href="{% url 'user/browse/upcoming' page=1 %}"><button type="button" class="btn btn-outline-purple">Upcoming Anime</button></a>
    </div>
</div>
