{% extends "partials/main.html" %}
{% load static %}
{% block customcss %}
<link href="{% static 'assets/libs/datatables/dataTables.min.css' %}" rel="stylesheet"/>
{% endblock %}
{% block maincontent %}
<h1>Anime List</h1>
<div class="card">
    <div class="card-body">
        {% if anime %}
        <div class="table-responsive">
            <table class="display hover row-border stripe compact" id="anime-table">
            <thead>
                <tr>
                <th class="text-center">Cover</th>
                <th class="text-center">Anime</th>
                <th class="text-center">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for anime in anime %}
                        <tr onclick="window.location='{% url 'user/anime/episode' anime.anime_Id %}'" style="cursor: pointer;">
                            <td class="text-center"><img src="{{ anime.anime_Picture }}" class="img-thumbnail" alt="Anime Image" style="width: 70px; height: 100px"></a></td>
                            <td class="text-left">{{ anime.anime_Name }}</td>
                            <td class="text-center">
                                {% if anime.anime_Status == 'Completed' %}
                                <span class="badge bg-success text-purple-fg">{{ anime.anime_Status }}</span>
                                {% elif anime.anime_Status == 'Not Started' %}
                                <span class="badge bg-gray text-purple-fg">{{ anime.anime_Status }}</span>
                                {% elif anime.anime_Status == 'In Progress' %}
                                <span class="badge bg-warning text-purple-fg">{{ anime.anime_Status }}</span>
                                {% else %}
                                <span class="badge bg-danger text-purple-fg">Unknown</span>
                                {% endif %}
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        {% else %}
        <h2 class="text-center">No Anime on your list.</h2>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block customjs %}
<script>
    {% if error %}
        notyf.error({message: "{{ message }}", background: 'violet'});
    {% endif %}
    {% if success %}
        notyf.success({message: "{{ message }}", background: 'violet'});
    {% endif %}
    window.history.replaceState({}, '', `/user/anime-list`);
</script>
<script src="{% static 'assets/libs/datatables/dataTables.min.js' %}"></script>
<script>
    new DataTable('#anime-table',{
    
    });
    </script>
{% endblock %}