{% load static %}
            </div>
          </div>
    </body>
    <script src="{% static 'assets/django-essentials/validation.js' %}"></script>
    <script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
    <script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'assets/django-essentials/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/tabler.min.js' %}" defer></script>
    <script src="{% static 'assets/js/demo.min.js' %}" defer></script>
    <script src="{% static 'assets/js/page/library-init.js' %}"></script>
</html>