{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>AniRogu | Personal Anime Tracker</title>
        <!-- CSS files -->
        <link href="{% static 'assets/css/tabler.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'assets/css/demo.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'assets/libs/notyf/notyf.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'assets/libs/sweetalert/sweetalert2.all.min.css' %}" rel="stylesheet"/>
        <link rel="icon" href="{% static 'assets/images/logo.png' %}" type="image/x-icon">
        <style>
          @import url('https://rsms.me/inter/inter.css');
          :root {
              --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
          }
          body {
              font-feature-settings: "cv03", "cv04", "cv11";
          }
        </style>
    </head>