{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>AniRogu | Forgot Password</title>
        <!-- CSS files -->
        <link href="{% static 'assets/css/tabler.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'assets/css/demo.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'assets/libs/notyf/notyf.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'assets/libs/sweetalert/sweetalert2.all.min.css' %}" rel="stylesheet"/>
        <link rel="icon" href="{% static 'assets/images/logo.png' %}" type="image/x-icon">
        <style>
          @import url('https://rsms.me/inter/inter.css');
          :root {
              --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
          }
          body {
              font-feature-settings: "cv03", "cv04", "cv11";
          }
        </style>
    </head>
    <body data-bs-theme="dark" class=" d-flex flex-column">
        <div class="page page-center">
          <div class="container container-tight py-4">
            <div class="text-center mb-3">
              <a href="{% url 'index' %}" class="navbar-brand">
                <img src="{% static 'assets/images/logotext.png' %}" width="150" height="60" alt="AniRogu" class="navbar-brand" >
              </a>
            </div>
            <div class="card card-md">
              <div class="card-body">
                <h2 class="h2 text-center mb-3 text-purple">Account Recovery</h2>
                <p class="text-white mb-3">Enter your Email Address and a temporary password will be emailed to you.</p>
                <form id="ForgotPasswordForm" class="needs-validation" action="{% url 'auth/forgot' %}" method="POST" novalidate>{% csrf_token %}
                  <div class="mb-3">
                    <label class="form-label">Email Address</label>
                    <input type="email" id="username" name="username" class="form-control" placeholder="Enter Your Email Address" required>
                  </div>
                  <div class="form-footer">
                    <button type="submit" id="forgot-submit" class="btn btn-purple w-100">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
                        Send me a Temporary password
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="text-center text-light mt-3">
              I remember my password, take me back to  <a href="{% url 'login' %}" tabindex="-1" class="text-purple">Log In</a>
            </div>
          </div>
        </div>
        <!-- Libs JS -->
        <!-- Tabler Core -->
        <script src="{% static 'assets/django-essentials/validation.js' %}"></script>
        <script src="{% static 'assets/libs/notyf/notyf.min.js' %}"></script>
        <script src="{% static 'assets/libs/sweetalert/sweetalert2.all.min.js' %}"></script>
        <script src="{% static 'assets/django-essentials/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/tabler.min.js' %}" defer></script>
        <script src="{% static 'assets/js/demo.min.js' %}" defer></script>
        <script src="{% static 'assets/js/page/library-init.js' %}"></script>
        <script>
            // Check if there are messages to display
            {% if error %}
            notyf.error({message: "{{ message }}", background: 'violet'});
            {% else %}
            notyf.success({message: "{{ message }}", background: 'violet'});
            {% endif %}
        </script>
  </body>
</html>